Repository kaca01/cloud-computing, pull requests merged in 2023-06, with the labels that each got.

#42 Feature/asynchronously communication and notification
  back/notification/send_email.py
  back/serverless.yml
  back/uploadFile/upload_file.py
  back/verification/verification_email.py
  front/src/app/components/dialogs/upload-file-dialog/upload-file-dialog.component.ts
  front/src/app/components/registration-page/registration-page.component.ts
  front/src/app/domain.ts
  front/src/app/services/file.service.ts
Labels: back

#46 Develop to main
  back/.gitignore
  back/Controllers/delete_me.txt
  back/Models/delete_me.txt
  back/Services/delete_me.txt
  back/accessContent/folder_contents.py
  back/create_folder/create_folder.py
  back/deleteFile/delete_file.py
  back/deleteFolder/deleteFolder.py
  back/downloadFile/download_file.py
  back/editFile/edit_file.py
  back/iam.pdf
  back/main.py
  back/nekifajl.docx
  back/notification/send_email.py
  back/object.json
  back/package-lock.json
  back/package.json
  back/serverless.yml
  back/sunflower.png
  back/test-create-folder.json
  back/test-event.json
  back/test-folder-contents.json
  back/uploadFile/upload_file.py
  back/utility/utils.py
  back/verification/verification_email.py
  front/src/app/app.module.ts
  front/src/app/components/dialogs/create-folder/create-folder.component.css
  front/src/app/components/dialogs/create-folder/create-folder.component.html
  front/src/app/components/dialogs/create-folder/create-folder.component.spec.ts
  front/src/app/components/dialogs/create-folder/create-folder.component.ts
  front/src/app/components/dialogs/upload-file-dialog/upload-file-dialog.component.css
  front/src/app/components/dialogs/upload-file-dialog/upload-file-dialog.component.html
  front/src/app/components/dialogs/upload-file-dialog/upload-file-dialog.component.spec.ts
  front/src/app/components/dialogs/upload-file-dialog/upload-file-dialog.component.ts
  front/src/app/components/documents/documents.component.html
  front/src/app/components/documents/documents.component.ts
  front/src/app/components/login/login.component.css
  front/src/app/components/login/login.component.html
  front/src/app/components/login/login.component.ts
  front/src/app/components/registration-page/registration-page.component.ts
  front/src/app/components/welcome-page/welcome-page.component.ts
  front/src/app/domain.ts
  front/src/app/services/cognito.service.ts
  front/src/app/services/file.service.spec.ts
  front/src/app/services/file.service.ts
  front/src/app/services/folder.service.spec.ts
  front/src/app/services/folder.service.ts
Labels: enhancement, front, back

#45 Feature/shared content access
  back/getSharedContent/get_shared_content.py
  front/src/app/components/documents/documents.component.html
  front/src/app/components/documents/documents.component.ts
Labels: enhancement, front

#43 Feature/remove permission
  back/addPermission/add_permission.py
  back/getSharedContent/get_shared_content.py
  back/seePermission/see_permission.py
  back/serverless.yml
  front/src/app/components/dialogs/add-permission-dialog/add-permission-dialog.component.ts
  front/src/app/components/documents/documents.component.html
  front/src/app/components/documents/documents.component.ts
  front/src/app/services/file.service.ts
  front/src/app/services/folder.service.ts
Labels: enhancement, front, back

#39 Feature/add permission
  back/addPermission/add_permission.py
  back/getSharedContent/get_shared_content.py
  back/seePermission/see_permission.py
  back/serverless.yml
  back/uploadFile/upload_file.py
  front/src/app/app.module.ts
  front/src/app/components/dialogs/add-permission-dialog/add-permission-dialog.component.css
  front/src/app/components/dialogs/add-permission-dialog/add-permission-dialog.component.html
  front/src/app/components/dialogs/add-permission-dialog/add-permission-dialog.component.spec.ts
  front/src/app/components/dialogs/add-permission-dialog/add-permission-dialog.component.ts
  front/src/app/components/documents/documents.component.html
  front/src/app/components/documents/documents.component.ts
  front/src/app/services/file.service.ts
  front/src/app/services/folder.service.ts
  front/src/infrastructure/material.module.ts
Labels: front, back

#50 Fix/edit fields
  front/src/app/components/dialogs/upload-file-dialog/upload-file-dialog.component.html
  front/src/app/components/dialogs/upload-file-dialog/upload-file-dialog.component.ts
  front/src/app/components/documents/documents.component.ts
  front/src/app/services/file.service.ts
  front/src/app/services/folder.service.ts
Labels: front

#54 Feature/token validation
  back/serverless.yml
  front/src/app/app.module.ts
  front/src/app/components/dialogs/upload-file-dialog/upload-file-dialog.component.ts
  front/src/app/components/documents/documents.component.ts
  front/src/app/interceptor/tokenInterceptor.ts
  front/src/app/services/cognito.service.ts
  front/src/app/services/file.service.ts
  front/src/app/services/folder.service.ts
Labels: back
